* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
}

#head_info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  padding-top: 10px;
}

#head_info a {
  color: #913BFB;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #913BFB;
}

#head_info a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

#head_info #phone_mobile {
  display: none;
}

#mobile_burger {
  display: none;
}

#logo {
  width: 220px;
}

#logo img {
  width: 100%;
}

#mtrf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textmtrf p {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.logomtrf {
  width: 25%;
  height: 50px;
  background-image: url("../img/mtrf.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#phone p {
  position: relative;
}

#phone a {
  font-size: 18px;
  font-weight: 600;
}

#phone a:not(.fisrt_phone) {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px dashed #000;
  margin-left: 18px;
  font-weight: 400;
}

#phone a:not(.fisrt_phone):hover {
  border-bottom: 1px dashed #913BFB;
  color: #913BFB;
}

#phone a:not(.fisrt_phone):before {
  content: '';
  background-image: url("../img/smartphone-call.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-position: 0px 5px;
}

#head_menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 70% 29%;
      grid-template-columns: 70% 29%;
  margin-top: 20px;
}

#head_menu ul {
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #913BFB;
}

#head_menu li {
  color: #fff;
  text-transform: uppercase;
}

#head_menu a {
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

#head_menu a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

#head_menu #callback {
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;
  border: 1px solid #913BFB;
  color: #913BFB;
  cursor: pointer;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

#head_menu #callback:hover {
  background: #913BFB;
  border: 1px solid #913BFB;
  color: #fff;
}

#head_menu .link_headMenu_active {
  color: #000;
  border-bottom: 1px solid #000;
}

#service ul li, #product ul li {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 12px;
  margin-top: 8px;
}

#service ul a, #product ul a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

#service ul a:hover, #product ul a:hover {
  border-bottom: 1px solid #913BFB;
  color: #913BFB;
}

#service .firstli, #product .firstli {
  font-weight: 800;
  text-transform: uppercase;
}

#service .firstli span, #product .firstli span {
  position: relative;
  padding-left: 25px;
}

.child_menu {
  display: none;
}

.child_menu_show {
  display: inherit;
}

#service span::before {
  content: '';
  background-image: url("../img/customer-support.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

#product span::before {
  content: '';
  background-image: url("../img/modem.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

footer {
  background: #913BFB;
  height: 220px;
}

#footer_info {
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

#footer_info a {
  color: #eee;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

#footer_info a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

#footer_info p {
  position: relative;
  padding-top: 4px;
}

#footer_crypt {
  height: 50px;
  font-size: 13px;
  padding-top: 5px;
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.foot_copy_link {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.foot_copy_link:hover {
  border-bottom: 1px solid #913BFB;
  color: #913BFB;
}

.mail_footer {
  margin-left: 24px;
}

.mail_footer::before {
  content: '';
  background-image: url("../img/e-mail-envelope.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-position: 0px 2px;
}

.phone_footer {
  margin-left: 24px;
}

.phone_footer::before {
  content: '';
  background-image: url("../img/smartphonew.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

@media (max-width: 900px) {
  #head_info {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  #mtrf {
    display: none;
  }
}

@media (max-width: 785px) {
  #footer_info {
    -ms-grid-columns: 20% auto auto auto;
        grid-template-columns: 20% auto auto auto;
  }
  #footer_info #logo {
    width: 100%;
  }
}

@media (max-width: 414px) {
  #head_info, #footer_info, #footer_crypt, #head_menu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 92%;
        grid-template-columns: 92%;
    margin: 0 auto;
  }
  #mobile_burger {
    background: #913BFB;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
  }
  #head_menu {
    display: none;
  }
  #head_info #logo {
    width: 100%;
  }
  #head_info #adres {
    display: none;
  }
  #head_info #phone {
    display: none;
  }
  #head_info #phone_mobile {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #head_info #phone_mobile a {
    color: #000;
    font-size: 140%;
    text-decoration: none;
    border-bottom: 1px none #000;
    font-weight: 600;
  }
  #head_info #phone_mobile a:hover {
    border-bottom: 1px none #913BFB;
    color: #913BFB;
  }
  #head_info #phone_mobile img {
    width: 100%;
  }
  #head_info #phone_mobile span {
    color: #913BFB;
  }
  footer {
    height: 100%;
    padding-bottom: 10px;
  }
  #footer_info a {
    color: #eee;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }
  #footer_info a:hover {
    border-bottom: 1px solid #000;
    color: #000;
  }
  #footer_info ul {
    margin-top: 10px;
  }
  #footer_crypt .ya-share2 {
    margin-top: 10px;
  }
  #footer_crypt p {
    margin-top: 10px;
  }
  #crypt {
    margin-top: 10px;
  }
  #mobile_burger {
    display: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 92%;
        grid-template-columns: 92%;
    overflow: scroll;
    padding-bottom: 10px;
  }
  #mobile_burger .close_burger img {
    width: 12%;
    float: right;
    padding-top: 10px;
  }
  #mobile_burger a {
    color: #eee;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }
  #mobile_burger a:hover {
    border-bottom: 1px solid #000;
    color: #000;
  }
  #mobile_burger ul {
    margin-top: 10px;
  }
  #mobile_burger ul li {
    padding-bottom: 4px;
  }
  #logo_burger {
    position: relative;
  }
  #logo_burger a {
    color: #eee;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
  }
  #logo_burger a:hover {
    border-bottom: 1px solid #000;
    color: #000;
  }
  .show_burger {
    display: none;
  }
}
/*# sourceMappingURL=internal-page-style.css.map */